<nav class="navbar" [ngClass]="wasClicked ? 'menu-active' : ''">
  <img class="logo-img" [src]="image" alt="Logo" />
  <div class="logo">My PC</div>
  <div class="push-left">
    <button id="menu-toggler" data-class="menu-active" class="hamburger" (click)="onHamburgerClick()">
      <span class="hamburger-line hamburger-line-top"></span>
      <span class="hamburger-line hamburger-line-middle"></span>
      <span class="hamburger-line hamburger-line-bottom"></span>
    </button>

    <!--  Menu compatible with wp_nav_menu  -->
    <ul id="primary-menu" class="menu nav-menu">
      <li class="menu-item current-menu-item">
        <!--<a class="nav__link" routerLink="/current">Current</a>-->
        <a class="text" routerLink="/current" routerLinkActive="active" mat-button>
          <mat-icon>build</mat-icon>
          Current
        </a>
      </li>

      <li class="menu-item disabled">
        <a class="text" mat-button disabled>
          <mat-icon>assessment</mat-icon>
          Performance
        </a>
      </li>

      <li class="menu-item">
        <a routerLink="/history" routerLinkActive="active" mat-button>
          <mat-icon>history</mat-icon>
          History
        </a>
      </li>

      <li class="menu-item dropdown disabled">
        <a class="text" mat-button>
          <mat-icon>lock</mat-icon>
          comming soon
        </a>
        <ul class="sub-nav">
          <li><a class="sub-nav__link" href="#">link 1</a></li>
          <li><a class="sub-nav__link" href="#">link 2</a></li>
          <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
        </ul>
      </li>

    </ul>


  </div>
</nav>

<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">My PC</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a class="text" routerLink="/current" mat-button>
        <mat-icon>build</mat-icon>
        Current
      </a>
      <a class="text" href="#" mat-button disabled>
        <mat-icon>assessment</mat-icon>
        Performance
      </a>
      <a routerLink="/history" href="#" mat-button>
        <mat-icon>history</mat-icon>
        History
      </a>
      <a class="text" href="#" mat-button disabled>
        <mat-icon>lock</mat-icon>
        comming soon
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a routerLink="/current" mat-list-item>
        <mat-icon>build</mat-icon>
        Current
      </a>
      <a routerLink="/history" mat-list-item disabled>
        <mat-icon>assessment</mat-icon>
        Performance
      </a>
      <a routerLink="/history" mat-list-item>
        <mat-icon>history</mat-icon>
        History
      </a>
      <a href="#" mat-list-item disabled>
        <mat-icon>lock</mat-icon>
        comming soon
      </a>
      <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
</mat-sidenav-container>

-->