<nav>
  <div class="logo" routerLink="/">
    <!--   <img src="logo.svg" alt="Logo Image">-->
    <img [src]="image" alt="Logo" />

  </div>
  <div class="hamburger" (click)="onHambugerClick()" #hamburger>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <ul class="nav-links" #navLinks>
    <li>
      <a class="hover-2" routerLink="/current" routerLinkActive="active-link" (click)="onNavigation()" mat-button>
        <mat-icon>table_view</mat-icon>
        Current
      </a>
    </li>
    <li>
      <a class="hover-2" routerLink="/performance" routerLinkActive="active-link" (click)="onNavigation()" mat-button>
        <mat-icon>insights</mat-icon>
        Performance
      </a>
    </li>
    <li>
      <a class="hover-2" routerLink="/benchmarks" routerLinkActive="active-link" (click)="onNavigation()" mat-button>
        <mat-icon>leaderboard</mat-icon>
        Benchmarks
      </a>
    </li>
    <li>
      <a class="disabled" style="color: grey;" mat-button>
        <mat-icon style="color: grey;">history</mat-icon>
        History
      </a>
    </li>
    <li>
      <a class="disabled" style="color: grey;" mat-button>
        <mat-icon style="color: grey;">lock</mat-icon>
        Coming soon
      </a>
    </li>
  </ul>
</nav>