@import '/src/app/styles/variables.scss';

body {
  overflow-x: hidden;
  padding-top: 50px;
}

table {
  width: 100%;
}


.mat-elevation-z8 {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 230px);
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: $primary;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-type {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;

}

.mat-list-details {
  margin-top: -10px;
}

.mat-column-action {
  width: 50px;
}

.mat-column-type {
  min-width: 175px;
}

.hidden {
  transition: 0.25s linear all;
  opacity: 0;
}

.shown {
  transition: 0.75s linear all;
  opacity: 1;
}

.mat-header-cell {
  @include font-18;
  font-weight: bold;
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.input-container {
  padding: 10px;
  display: flex;
}

.example-card {
  padding: 25px;
  margin-bottom: 10px;
  max-width: 800px;
  max-height: 600px;
  border: none;
  box-shadow: none;
}

.mat-grid-tile-img {
  max-height: 250px;
  max-width: 400px;
}

.search-icon {
  margin-top: 10px;
  margin-right: 5px;
}

.example-header-image {
  background-size: cover;
}

.card-actions {
  display: grid;
  grid-auto-flow: column;
  //grid-column-gap: 350px;
}

.mat-icon {
  cursor: pointer;
}

.font-18 {
  @include font-18;
  font-weight: bold;
  color: black;
}

.font-light-18 {
  @include font-light-18;
  margin-left: 15px;
}


@media screen and (max-width: 800px) {

  .mat-list-item {
    height: 30px !important;
  }

  .mat-list-details {
    margin-top: 0px;
  }

  .mat-header-row {
    height: 50px;
  }

  .mat-elevation-z8 {
    height: calc(100vh - 180px);
  }

  .input-container {
    padding-left: 10px;
    margin-top: -15px;
    display: flex;
  }

  .mat-table {
    width: 100%;
  }

  .mat-column-type {
    flex: 10px;
    min-width: 150px;
  }

  .mat-column-producer {
    display: none;
  }

  .mat-column-name {
    min-width: 135px;
  }

}
