<!--
<div data-aos-easing="ease-out-back" class="container">

  <div class="background aos-init aos-animate" data-aos="fade-in" data-aos-duration="10" data-aos-anchor=".section--hero">
  </div>

  <h1 class="table-header-title">My Current Configuration</h1>

  <div class="abc123">

    <section>
      <div class="info-container hide">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div>
          <h1>Scroll</h1>
        </div>
      </div>
    </section>


  </div>

</div>
-->
<h1 class="table-header-title">My Current Configuration</h1>


<!-- <app-config-table [configuration]="'i7-2600k'"></app-config-table> -->
<app-config-table [configuration]="'i9-9900k'"></app-config-table>