<div data-aos-easing="ease-out-back" class="container">

  <div class="background aos-init aos-animate" data-aos="fade-in" data-aos-duration="10" data-aos-anchor=".section--hero">
  </div>

  <h1 class="table-header-title">My Current Configuration</h1>
  <div class="container reveal" (scroll)="onScroll($event)">
    <section class="section-0">
      <h2>Section 0</h2>
    </section>

    <section class="section-1">
      <h2>Section 1</h2>
      <div class="wrapper-left" data-aos="fade-right" data-aos-delay="100">
        <app-config-card></app-config-card>
      </div>
    </section>

    <section class="section-2">
      <h2>Section 2</h2>
      <div class="wrapper-right" data-aos="fade-left" data-aos-delay="150">
        <app-config-card></app-config-card>
      </div>
    </section>

    <section class="section-3">
      <h2>Section 3</h2>
      <div class="wrapper-left" data-aos="fade-right" data-aos-delay="100">
        <app-config-card></app-config-card>
      </div>
    </section>

    <section class="section-4">
      <h2>Section 4</h2>
      <div class="item" data-aos="fade-up">1</div>
      <div class="item" data-aos="fade-down">2</div>
      <div class="item" data-aos="fade-right">3</div>
      <div class="item" data-aos="fade-left">4</div>

      <div class="item" data-aos="zoom-in">5</div>
      <div class="item" data-aos="zoom-out">6</div>


      <div class="item" data-aos="slide-up">7</div>

      <div class="item" data-aos="flip-up">8</div>
      <div class="item" data-aos="flip-down">9</div>
      <div class="item" data-aos="flip-right">10</div>
      <div class="item" data-aos="flip-left">11</div>
    </section>
  </div>
  <!--
  <section class="content">
    <div class="left">








    </div>

    <div class="middle">


    </div>

    <div class="right">


    </div>

  </section>
-->


</div>




<!--
<app-config-table [configuration]="'i7-2600k'"></app-config-table>
-->