<div data-aos-easing="ease-out-back" class="container">

  <div class="background aos-init aos-animate" data-aos="fade-in" data-aos-duration="10" data-aos-anchor=".section--hero">
  </div>

  <h1 class="table-header-title">My Current Configuration</h1>

  <div class="abc123">

    <section>
      <div class="info-container hide">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div>
          <h1>Scroll</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container reveal">
        <h2>Your Title</h2>
        <div class="cards">
          <div class="text-card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="text-card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="text-card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container reveal">
        <h2>Your Title</h2>
        <div class="cards">
          <div class="text-card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="text-card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="text-card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container reveal">
        <h2>Your Title</h2>
        <div class="cards">
          <div class="wrapper-right" data-aos="fade-left" data-aos-delay="150">
            <app-config-card></app-config-card>
          </div>
        </div>
      </div>
    </section>

  </div>



  <!--
  <section class="content">
    <div class="left">








    </div>

    <div class="middle">


    </div>

    <div class="right">


    </div>

  </section>
-->


</div>




<!--
<app-config-table [configuration]="'i7-2600k'"></app-config-table>
-->