@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1D212B;
}

.table-header-title {
  margin-top: 110px;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  // overflow-y: scroll;

  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  background-image: url('../../../assets/logo/pc1.png');
  background-attachment: fixed;
}

section:nth-child(1) {
  // color: #fff;
  scroll-snap-align: start;

}

section:nth-child(2) {
  // color: #1D212B;
  // background: #fff;
  scroll-snap-align: start;

}

section:nth-child(3) {
  // color: #fff;
  scroll-snap-align: start;

}

section:nth-child(4) {
  // color: #1D212B;
  // background: #fff;
  scroll-snap-align: start;

}

section .container {
  margin: 100px;

}

section h1 {
  font-size: 60px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards {
  display: flex;
}

section .cards .text-card {
  background: #2696E9;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }
}

.wrapper-left {
  max-width: 400px;
  max-height: 800px;
  margin-left: 5vw;
  padding-left: 1em;
  padding-right: 1em;
}

.wrapper-right {
  max-width: 400px;
  max-height: 800px;
  margin-left: 75vw;
  padding-left: 1em;
  padding-right: 1em;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}


/* SCROLL */

.info-container {
  margin-top: 60vh;
  display: grid;
  grid-template-columns: 100px auto 100px;

}


.hide {
  position: relative;
  transform: translateY(-300px);
  opacity: 0;
  transition: all 1s ease;
}

.hide.active {
  transform: translateY(0px);
  opacity: 1;
}



.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
