.container {

  display: flex;
  left: 0px;
  align-items: center;
}

svg {
  position: absolute;
  left: 25vw;
  top: 110px;
  z-index: 0;
  width: 50%;
  stroke: rgba(112, 112, 112, 0.2) !important;

}

/*
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
*/

.fan-psu {
  transform-origin: center;
  transform-box: fill-box;

  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.fan-gpu {
  transform-origin: center;
  transform-box: fill-box;

  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.fan-aio {
  transform-origin: center;
  transform-box: fill-box;

  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.needdle {
  transform-origin: left bottom;
  transform-box: fill-box;

  animation-name: tilt;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}


@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
