@import '/src/app/styles/variables.scss';

::ng-deep .ngx-charts {
  text {
    fill: black !important;
    font-family: 'Roboto-Regular' !important;
    font-size: 16px !important;
  }

  .mat-tab-body-content {
    overflow: hidden !important;
  }

}
